.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--cor3);
    color: var(--cor0);
}

.navbar-wrap {
    display: flex;
    align-items: center;
    gap: 5px;
}
.navbar-wrap h1 {
    font-family: "Instrument Sans", sans-serif;
}

.navbar-ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar-ul li {
    font-size: 0.9em;
    font-family: "Geist Mono", monospace;
}

.navbar-ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.li-reserve {
    background-color: var(--cor1);
    padding: 10px 20px;
    border-radius: 7px;
}

.li-reserve:hover {
    background-color: var(--cor0);
    color: var(--cor5);
}