h1 {
    color: var(--cor0);
    padding: 0.5rem 1.3rem;
    font-size: 6.5em;
    font-family: "Anek Tamil", sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid var(--cor0);
    border-bottom: 1px solid var(--cor0);
    letter-spacing: -6.5px;
}

.header-span {
    color: var(--cor2);
    padding-left: 15px;
}