<section class="community-container">
    <h1>JUNTE-SE À <span class="community-span">COMUNIDADE</span></h1>

    <section class="community-aside">

        <section class="community-schedule">
            <h2>DESCUBRA SEU POTENCIAL</h2>
        </section>

        <section class="community-schedule">
            <h3>COACHING ESPECIALIZADO</h3>
            <p>Treinadores apaixonados pelo seu progresso.</p>
        </section>

        <section class="community-schedule">
            <h3>PROGRAMAS ORIENTADOS A RESULTADOS</h3>
            <p>Exercícios que proporcionam resultados tangíveis e mensuráveis.</p>
        </section>

        <section class="community-schedule">
            <h3>UMA TRIBO SOLIDÁRIA</h3>
            <p>Uma comunidade que incentiva você a dar o seu melhor.</p>
        </section>

        <section class="community-schedule-btn">
            <a class="btn-aulas" routerLink="/reserve">VER AULAS</a>
        </section>

        <img [ngSrc]="gymThreeUrl" [alt]="gymThreeAltText" width="50" height="50" class="gym-img-three">
    </section>
</section>
