.community-container {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--cor0);
}

.community-span {
    color: var(--cor2);
    padding-left: 15px;
}

h1 {
    color: var(--cor0);
    padding: 0.5rem 1.3rem;
    font-size: 6.5em;
    font-family: "Anek Tamil", sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: flex-start;
    letter-spacing: -6.5px;
}

.community-aside {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.gym-img-three {
    width: 67%;
    height: 680px;
}

.community-schedule-wrap {
    background-color: var(--cor3);
    height: 680px;
}

.community-schedule {
    border-top: 0.5px solid var(--cor0);
    padding: 1.8rem 1.2rem;
    font-family: "Anek Tamil", sans-serif;
}

.community-schedule h2 {
    font-size: 3em;
    line-height: 0.9;
}

.community-schedule h3 {
    font-size: 1.5em;
    line-height: 0.9;
}

.community-schedule p {
   font-size: 1.160em;
   padding-top: 5px;
}

.community-schedule-btn {
    border-top: 0.5px solid var(--cor0);
    padding: 2.8rem 1.2rem;
    font-family: "Anek Tamil", sans-serif;
}

.btn-aulas {
    padding: 0.5rem 1rem;
    background-color: var(--cor0);
    color: var(--cor5);
    width: 20%;
    text-align: center;
    border-radius: 5px;
    font-size: 0.9em;
}

.btn-aulas:hover {
    cursor: pointer;
    background-color: var(--cor1);
    color: var(--cor0);
} 