<section class="community-container">
    <h1>JUNTE-SE À <span>COMUNIDADE</span></h1>
    <section class="community-aside">
        <aside class="community-schedule-wrap">
            <section class="community-schedule">
                <h2>DESCUBRA SEU POTENCIAL</h2>
            </section>
            <section class="community-schedule">
                <h3>COACHING ESPECIALIZADO</h3>
                <p>Treinadores apaixonados pelo seu progresso.</p>
            </section>
            <section class="community-schedule">
                <h3>PROGRAMAS ORIENTADOS A RESULTADOS</h3>
                <p>Exercícios que proporcionam resultados tangíveis e mensuráveis.</p>
            </section>
            <section class="community-schedule">
                <h3>UMA TRIBO SOLIDÁRIA</h3>
                <p>Uma comunidade que incentiva você a dar o seu melhor.</p>
            </section>
            <section class="community-schedule-btn">
                <p class="btn-aulas">VER AULAS</p>
            </section>
        </aside>
        <img [ngSrc]="gymThreeUrl" [alt]="gymThreeAltText" width="50" height="50" class="gym-img-three">
    </section>
</section>
