<section class="reserve-container">
    <h1>RESERVE UMA <span class="reserve-span">SESSÃO</span></h1>
    <section class="reserve-wrap">
        <aside class="aside-one">
            <h2 class="reserve-title">FORÇA</h2>
            <section class="reserve-content">
                <p class="border-bottom">Dias úteis às 6h</p>
                <p class="border-bottom">Fins de semana e feriados às 8h</p>
                <p>Construa uma base de força bruta com nossos programas abrangentes de levantamento de peso e treinamento de força.</p>
            </section>
            <a href="#" class="reserve-btn">RESERVE SEU LUGAR</a>
        </aside>
        <aside class="aside-two">
            <h2 class="reserve-title">CONDICIONAMENTO</h2>
            <section class="reserve-content">
                <p class="border-bottom">Dias úteis às 8h</p>
                <p class="border-bottom">Fins de semana e feriados às 10h</p>
                <p>Ultrapasse seus limites com treinos de alta intensidade que desafiam sua resistência cardiovascular e desenvolvem condicionamento físico funcional.</p>
            </section>
            <a href="#" class="reserve-btn">RESERVE SEU LUGAR</a>
        </aside>
        <aside class="aside-three">
            <h2 class="reserve-title">AULAS COMUNITÁRIAS</h2>
            <section class="reserve-content">
                <p class="border-bottom">Todos os dias na hora certa</p>
                <p>Experimente o poder do esforço coletivo com nosso treino do dia personalizado. Supere seus limites com pessoas que pensam como você.</p>
            </section>
            <a href="#" class="reserve-btn">RESERVE SEU LUGAR</a>
        </aside>
    </section>
</section>