.join-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    background-color: var(--cor2);
    height: 40vh; 
    gap: 1.2rem;
    border-top: 1px solid var(--cor0);
}

p {
    font-family: "Geist", sans-serif;
    font-size: 1em;
}

h1 {
    font-family: "Anek Malayalam", sans-serif;
    font-size: 3.5em;
    padding: 0 15rem;
    text-align: center;
    line-height: 0.9;
}

.join-btn {
    font-family: "Geist Mono", monospace;
    font-size: 0.9em;
    padding: 0.8rem 1rem;
    background-color: var(--cor3);
    color: var(--cor0);
    width: auto;
    text-align: center;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.join-btn:hover {
    background-color: var(--cor0);
    color: var(--cor3);
    cursor: pointer;
}

@media (max-width: 1330px) {
    h1 {
        padding: 0;
    }
}

@media (max-width: 800px) {
    .join-container {
        padding: 2rem 3rem;
    }
    h1 {
        font-size: 3em;
    }
    p {
        font-size: 0.9em;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
}