<section class="footer-container">
    <section class="footer-top">
        <img [ngSrc]="logoUrl" [alt]="logoAltText" width="50" height="50" class="navbar-logo">
        <h1>Training GYM</h1>
    </section>
    <section class="footer-down">
        <section class="footer-contact">
            <p>CONTATO</p>
            <div class="footer-div-wrap">
                <p>Email: contato&#64;training.com</p>
                <p>Phone: (00)0000-0000</p>
            </div>
        </section>
        <section class="footer-hours">
            <p>HORÁRIO DE FUNCIONAMENTO</p>
            <div class="footer-div-wrap">
                <div class="footer-div"><p>2A A 6A</p><p>5:00 - 23:00</p></div>
                <div class="footer-div"><p>SÁBADOS</p><p>8:00 - 16:00</p></div>
                <div class="footer-div"><p>DOMINGOS</p><p>8:00 - 13:00</p></div>
                <div class="footer-div"><p>FERIADOSA</p><p>8:00 - 16:00</p></div>
            </div>
        </section>
        <section class="footer-social">
            <p>SOCIAL</p>
            <div class="footer-div-wrap">
                <a href="#">Instagram</a>
                <a href="#">LinkedIn</a>
                <a href="#">Spotify</a>
            </div>
        </section>
    </section>
</section>