<section class="about-container">
    <h1>SOBRE <span class="about-span">NÓS</span></h1>
    
    <section class="about-content-grid">
        <aside class="aside-one">
            <h2 class="about-title">LIBERTE SEU PODER PRIMORDIAL. FORJE UMA VERSÃO MAIS FORTE DE VOCÊ.</h2>
            <div class="about-content">
                <h4>NOSSA VISÃO</h4>
                <p>A Training GYM tem o compromisso de oferecer uma experiência de treinamento baseada em força bruta, condicionamento físico funcional e apoio inabalável da comunidade. Capacitamos nossos membros a explorar seu poder primordial, alcançar seus objetivos e viver uma vida de força, resiliência e determinação inabalável.</p>
            </div>
        </aside>
        <img [ngSrc]="gymAboutOneUrl" [alt]="gymAboutAltText" width="50" height="50" class="gym-img-one">
        
        <img [ngSrc]="gymAboutTwoUrl" [alt]="gymAboutAltText" width="50" height="50" class="gym-img-two">
        <aside class="aside-two">
            <h2 class="about-title">ACADEMIA ABERTA DINÂMICA</h2>
            <div class="about-content">
                <p>Na Training GYM, eliminamos a superficialidade e focamos nos fundamentos. Nossos treinadores especialistas guiam você por treinos intensos e funcionais, projetados para desenvolver força bruta, resiliência e um corpo capaz de tudo.</p>
            </div>
        </aside>

        <section class="img-wrap">
            <img [ngSrc]="gymAboutThreeUrl" [alt]="gymAboutAltText" width="50" height="50" class="gym-img-three">
            <h2 class="overlay-title">CRIAMOS UM ESPAÇO ONDE VOCÊ PODE SE RECONECTAR COM SEU EU PRIMORDIAL.</h2>
        </section>

    </section>
</section>
