.articles-wrap {
    display: flex;
    background-color: var(--cor3);
}

.aside-section-wrap {
    display: flex;
    flex-direction: row;
    width: 67%;
}

.aside-one,
.aside-two,
.aside-three {
    width: 50%;
    padding: 1.2rem 1.2rem 3.5rem 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-two {
    border-right: 1px solid var(--cor0);
}

.gym-img-one {
    width: 67%;
    height: 550px;
}
.gym-img-two {
    width: 33%;
    height: 550px;
}

.article-title {
    font-size: 3em;
    font-family: "Anek Tamil", sans-serif;
    line-height: 0.9;
}

.article-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

p {
    font-size: 16px;
    color: var(--cor0);
    font-family: "Geist Mono", monospace;
    font-weight: 400;
}

.about-us {
    padding: 0.5rem 1rem;
    background-color: var(--cor0);
    color: var(--cor5);
    width: 20%;
    text-align: center;
    border-radius: 5px;
    font-size: 0.9em;
}

.about-us:hover {
    cursor: pointer;
    background-color: var(--cor1);
    color: var(--cor0);
}