<section class="articles-container">
    <section class="articles-wrap">
        <img [ngSrc]="gymOneUrl" [alt]="gymAltText" width="50" height="50" class="gym-image-one">
        <aside class="aside-one">
            <h2 class="article-title">PARA OS COMPROMETIDOS</h2>
            <div class="article-content">
                <p>Treine como um atleta com equipamentos de ponta e programação especializada. Seja para ganhar músculos ou quebrar recordes pessoais, nós ajudamos você a superar limites.</p>
                <p class="about-us">SOBRE NÓS</p>
            </div>
        </aside>
    </section> 
    <section class="articles-wrap">
        <section class="aside-section-wrap">
            <aside class="aside-two">
                <h2 class="article-title">GUIADO POR ESPECIALISTAS</h2>
                <p>Acreditamos na criação de um ambiente positivo onde você possa prosperar. Estamos aqui para ajudar você a alcançar seus objetivos e liberar todo o seu potencial.</p>
            </aside>
            <aside class="aside-three">
                <h2 class="article-title">ACADEMIA ABERTA DINÂMICA</h2>
                <p>Nossa instalação é o ambiente ideal para treinamento de força e desempenho, totalmente equipada com ferramentas de última geração, amplas áreas de treinamento e foco no movimento funcional.</p>
            </aside>
        </section>
        <img [ngSrc]="gymTwoUrl" [alt]="gymTwoAltText" width="50" height="50" class="gym-image-two">
    </section>                                
</section>

