.articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: var(--cor3);
}

/* --- Mapeamento dos elementos no grid (Desktop) --- */
.gym-img-one  { grid-area: 1 / 1 / 2 / 3; } 
.aside-one    { grid-area: 1 / 3 / 2 / 4; } 
.aside-two    { grid-area: 2 / 1 / 3 / 2; } 
.aside-three  { grid-area: 2 / 2 / 3 / 3; } 
.gym-img-two  { grid-area: 2 / 3 / 3 / 4; }

.aside-one,
.aside-two,
.aside-three {
    padding: 1.2rem 1.2rem 3.5rem 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-two {
    border-right: 1px solid var(--cor0);
}

.gym-img-one,
.gym-img-two {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.article-title {
    font-size: 3em;
    font-family: "Anek Tamil", sans-serif;
    line-height: 0.9;
}

.article-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

p {
    font-size: 1em;
    color: var(--cor0);
    font-family: "Geist Mono", monospace;
    font-weight: 400;
}

.about-us {
    padding: 0.5rem 1rem;
    background-color: var(--cor0);
    color: var(--cor3);
    width: fit-content;
    min-width: 120px;
    text-align: center;
    border-radius: 5px;
    font-family: "Geist Mono", monospace;
    font-size: 0.9em;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.about-us:hover {
    cursor: pointer;
    background-color: var(--cor1);
    color: var(--cor0);
}

@media (max-width: 1320px) {
    .aside-one,
    .aside-two,
    .aside-three {
        justify-content: flex-start;
        gap: 3rem;
    }

    .article-title {
        font-size: 2.2em;
    }

    p {
        font-size: 0.9em;
    }
}

@media (max-width: 990px) {
    .article-title {
        font-size: 1.8em;
    }
}

@media (max-width: 900px) {
    .articles-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
    }

    .gym-img-one  { grid-area: 1 / 1 / 2 / 2; } 
    .aside-one    { grid-area: 2 / 1 / 3 / 2; } 
    .gym-img-two  { grid-area: 3 / 1 / 4 / 2; } 
    .aside-two    { grid-area: 4 / 1 / 5 / 2; } 
    .aside-three  { grid-area: 5 / 1 / 6 / 2; } 

    .gym-img-one,
    .gym-img-two {
        height: 250px;
    }

    .aside-one,
    .aside-two,
    .aside-three {
        padding: 2rem;
        gap: 1rem;
        border-top: 1px solid var(--cor0);
    }

    .aside-two {
        border-right: none;
    }

    .article-title {
        font-size: 2em;
    }

    .about-us {
        width: 40%;
    }
}